<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>发起</title>
    <header th:replace="header.html"></header>
</head>

<body class="main">

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12" >
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发起</h2>
            <!-- form表单提交后会刷新页面，ajax回调出现异常 -->
                <th:block th:if="${edit == null}">
            <div  class="form-group"  >
                <div class="form-group">

                    <label for="title">问题标题:</label>
                    <input type="text" class="form-control" id="title" name="title"   placeholder="问题标题">
                </div>
                <div class="form-group">
                    <label for="description">问题内容:</label>
                    <textarea class="form-control" id="description" name="description" cols="30" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <label for="tag">添加标签:</label>
                    <input type="text" class="form-control" id="tag" name="tag" placeholder="输入标签，以，间隔">
                </div>
                <button type="button" class="btn btn-success" id="saveButton">提交</button>
            </div>
                </th:block>

                <th:block th:if="${edit != null}">
                    <form method="get" th:action="@{/publish_update}">

                    <div  class="form-group"  >
                        <div class="form-group">

                            <input type="hidden" name="id" th:value="${edit.getId()}">
                            <label for="title">问题标题:</label>
                            <input type="text" class="form-control" th:value="${edit.title}" name="title"   placeholder="问题标题">
                        </div>
                        <div class="form-group">
                            <label for="description">问题内容:</label>
                            <textarea class="form-control"name="description" th:text="${edit.description}" cols="30" rows="10"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="tag">添加标签:</label>
                            <input type="text" class="form-control" th:value="${edit.tag}" name="tag" placeholder="输入标签，以，间隔">
                        </div>
                        <button type="submit" class="btn btn-success">提交</button>
                    </div>

            </form>
                </th:block>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12">
            <div>
                <h2>问题发起指南</h2>
                <h4>开源论坛、问答系统，现有功能提问、回复、通知、最新、最热、消除零回复功能</h4>
            </div>
        </div>
    </div>
</div>



<!-- 模态框（Modal） -->
<div class="modal fade" id="publishModal" tabindex="-1"  role="dialog" aria-labelledby="publishModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h7 class="modal-title" id="publishModalLabel">
                    模态框（Modal）标题
                </h7>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <span id="info">info</span>

            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal -->


</div>
</body>

</html>